node_modules

/.cache
/build
/apps/frontend/build
/apps/backend/dist
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*
express/

docker-compose.dev.yml

bullmqCleaner.js
bullmqDashboard.js


/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock


/logs/

/dist